
<% @display_attributes.each do |attribute| %>
  <p>
  <strong><%= attribute.to_s %>:</strong>
  <%= @user.try(attribute) %>
  </p>
<% end %>

<p>
  <strong>id:</strong>
  <%= @user.try(:id) %>
</p>


